.link:link,
.link:active,
.link:visited {
  text-decoration: none;
  color: #868e96;
}

.link:hover {
  text-decoration: none;
  color: #fff;
}

.profileLink:link,
.profileLink:visited {
  text-decoration: none;
  color: #1a1a1a;
}

a.profileLink:active {
  color: #fff;
}

.profileLink:hover {
  color: #1a1a1a;
}
